# Core functionality - changes here should be rare!
/src/app.py                   @JaveriaAkber1
/src/backend/database.py      @JaveriaAkber1
/src/backend/routers/auth.py  @JaveriaAkber1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JaveriaAkber1
